<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-space-between p-3">
  <div class="d-flex d-inline-flex">
    <h1 class="navbar-brand mx-2">{{title$ | async}}</h1>
    <h3 class="navbar-brand mx-2" id="go-home-button" routerLink="/home" *ngIf="(showGoHome$ | async)">
      <a>Go back to homepage!</a>
    </h3>
  </div>
  <div class="d-flex" *ngIf="(isUserLogged$ | async); else block">
    <h4 class="text-justify navbar-brand mr-1">Welcome, {{(userMetadata$ | async)?.name}}!</h4>
    <div class="d-flex">
      <button mat-raised-button
              color="primary"
              class="btn btn-outline-secondary rounded-50 m-1"
              (click)="newPost()">New Post
      </button>
      <button mat-stroked-button
              color="warn"
              class="btn btn-outline-secondary rounded-50 m-1"
              (click)="logOut()">Log Out
      </button>
    </div>
  </div>
  <ng-template class="d-flex" #block>
    <div class="d-flex">
      <h4 class="text-justify navbar-brand mr-1">You are not logged in!</h4>
      <button mat-raised-button
              *ngIf="!(isLoginMode$ | async)!"
              color="primary"
              (click)="logIn()"
              class="btn btn-outline-secondary rounded-50 m-1">Log In
      </button>
    </div>
  </ng-template>
</nav>
